/*  Name: Savannah Athy-Sedbrook
    Date: 21 September 2021
    Name of File: stles.css */

/* CSS Reset */
body,
header,
nav,
main,
footer,
img,
h1,
h3 {
    margin: 0%;
    padding: 0%;
    border: 0%;
}

/* Style rules for body and images */
body {
    background-color: #cfebf7;
}

/* Style rules for navigation area */
nav {
    background-color: #fff;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
}

/* Show mobile class, hide tablet-desktop class */
.mobile {
    display: block;
    align-items: center;
    align-content: center;
}

.tablet-desktop {
    display: none;
}

/* Style rules for main content */
main {
    padding: 2%;
    font-family: 'PT Serif', serif;
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
}

main ul {
    list-style: none;
    text-decoration: none;
    font-size: 2em
}

h1 {
    font-weight: bold;
    font-size: 4em;
    text-align: center
}

.link {
    color: #4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: inherit;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

.text {
    font-size: 15px;
    padding-left: 30%;
    padding-right: 20%;
}

.container {
    align-content: center;
}

.headshot {
    max-width: 26%;
    max-height: 15%;
    float: left;
    padding-right: 2%;
}

.hide {
    color: #cfebf7;
}

/* Style rules for footer content */
footer p {
    text-align: center;
    font-size: 0.85em;
    background-color: #fff;
    color: #000;
    padding-top: 1%;
    padding-bottom: 1%;
    padding left: 0%;
    padding-right: 0%;
    float: clear;
}
