/*  Name: Savannah Athy-Sedbrook
    Date: 21 September 2021
    Name of File: stles.css */

/* CSS Reset */
body,
header,
nav,
main,
footer,
img,
h1,
h3 {
    margin: 0%;
    padding: 0%;
    border: 0%;
}

/* Style rules for body and images */
body {
    background-color: #cfebf7;
}

/* Style rules for mobile viewport */

/* Style rules to show mobile class and hide tablet-desktop class */
.mobile {
    display: block;
    align-items: center;
    align-content: center;
}

.tablet-desktop {
    display: none;
}

/* Style rules for navigation area */
nav {
    background-color: #fff;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
}

nav li {
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
    border-top: 1px solid #000;
}

nav li:first-child {
    border-top: none;
}

nav li a {
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
    text-decoration-color: #000;
}

nav li a:hover {
    color: #fff;
    background-color: #cfebf7;
}

/* Style rules for main content */
main {
    padding: 2%;
    font-family: 'PT Serif', serif;
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
}

main ul {
    list-style: none;
    text-decoration: none;
    font-size: 1.25em
}

h1 {
    font-weight: bold;
    font-size: 4em;
    text-align: center
}

.link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-style: inherit;
}

selector:pseudo-class {
    property: value;
}

.social {
    max-width: 4%;
    max-height: 4%;
    float: right;
    padding-bottom: 2%;
    padding-right: .5%;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

.container {
    align-content: center;
    max-width: 80%;
    margin: auto;
}

.headshot {
    max-height: 60%;
    max-width: 60%;
    align-content: center;
}

.photo {
    max-width: 60%;
    max-height: 60%;
    float: center;
}

.text {
    font-size: 15px;
    padding-left: 12%;
    padding-right: 12%;
    align-content: center;
}

#project1,
#project2 {
    max-width: 80%;
    align-content: center;
    /* max-height: 15%; */
}
}

/* Style rules for footer content */

footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #fff;
    color: #000;
    padding: 1% 0;
}

* {
    box-sizing: border-box
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px),
print {
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    /* Tablet Viewport: Style Rules for nav area */
    nav li {
        border-top: none;
        display: inline-block;
    }

    .headshot {
        max-width: 40%;
        max-height: 80%;
        float: left;
        padding-right: 2%;
        padding-left: 5%;
    }

    .text {
        font-size: 15px;
        padding-left: 35%;
        padding-right: 12%;
    }

    .photo {
        max-width: 33%;
        max-height: 35%;
        float: left;
        padding-right: 2%;
    }

    #project1,
    #project2 {
        max-width: 80%;
        /* max-height: 15%; */
    }

    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;

    }

}

/* Media Query for large Desktop Viewports */
@media screen and (min-width: 1921px) {}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px),
print {
    nav li {
        font-size: 1.5em;
    }

    nav li a:hover {
        color: #fff;
        background-color: #cfebf7;
    }
}

/* Media Query for Print */
@media print {

    body {
        background-color: #fff;
        color: #000;
    }
}
